.tooltip {
	display: flex;
	justify-content: center;
	text-shadow: 2px 2px 8px var(--shadow-color);
	transition: text-shadow 0.2s ease-in-out;

	& .material-icons {
		cursor: pointer;
		font-size: 3rem;

		@media (max-width: 700px) {
			font-size: 5rem;
		}

		&:hover {
			text-shadow: 0px 0px 5px var(--shadow-color);
			& + .title-tooltip {
				opacity: 1;
			}
		}
	}
}

.title-tooltip {
	position: absolute;
	top: -20px;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;

	.tooltip-label {
		white-space: nowrap;
		padding: 2px 3px;
		font-size: 0.7rem;
		color: var(--dark-color);
		background: var(--tooltip-color);
		border-radius: 2px;
	}
}